* {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  padding: 36px 0;
}

form {
  width: 371px;
  margin: 0 auto;
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding: 8px 16px;
}

input:hover {
  border: 1px solid #000;
}

input:focus {
  border: 1px solid #4e75ff;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
}

button:hover {
  background: #6c8cff;
}

.gallery {
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
}

.gallery-item {
  border: 1px solid #808080;
  width: calc((100% - 48px) / 3);
  height: 200px;
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}

.gallery-item > a {
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-info {
  width: 100%;
  height: 48px;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;

  align-items: center;
}

.image-info > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;

  height: 40px;
}

.image-info .label {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.iziToast-buttons-child {
  background-color: #ef4040 !important;
}

.loader-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 126px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 32px;
}

/* #region Loader */
.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #de3500 #0000 #fff #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader:before,
.loader:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.loader:after {
  border-color: #de3500 #0000 #0000 #0000;
  transform: translate(32px, 3px) rotate(-35deg);
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
/* #endregion */
